.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 50px;
    position: relative;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 0;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
}

.cart-container {
    height: 350px;
    position: sticky;
    top: 80px;
    right: -10px;
    /* z-index: 99; */
    list-style: none;
    margin: 0;
    min-width: 400px;
    max-width: 400px;
    background: #fff;
    text-align: left;
    border: 1px solid #eee;
    overflow: hidden;
    transition: all 1s;
    padding: 30px;
}

.offCanvas {
    display: none;
}

.custom-alert {
    position: absolute;
    top: 0;
    left: 500px;
    z-index: 2;
  }  


@media screen and (max-width: 1023px) {
    .shop-container {
        grid-template-columns: 1fr;  /*grid-template-columns: 5fr 2fr*/
    }
    .product-container {
        grid-template-columns: repeat(2, 1fr); /*grid-template-columns: repeat(2, 1fr)*/
    }
    .cart-container {
        display: none;
    }
    .offCanvas {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .shop-container {
        grid-template-columns: 4fr;
    }
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .cart-container {
        display: none;
    }
    .offCanvas {
        display: block;
    }
}