.btn-container .randomize-btn {
    color: purple;
    border: 1px solid purple;
}

.btn-container .clear-items-btn {
    color: #DE4839;
    border: 1px solid #DE4839;
}

.btn-container .randomize-btn,  .clear-items-btn {
    padding: 3px 20px;
    font-weight: 600;
    display: block;
    border-radius: 5px;
}

.btn-container .randomize-btn {
    margin-top: 20px;
    margin-bottom: 5px;
}

.cart-title {
    border-bottom: lightslategray 1px solid;
}