.btn-container .randomize-btn {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.btn-container .clear-items-btn {
    color: #DE4839;
    border: 1px solid #DE4839;
}

.btn-container .randomize-btn,  .clear-items-btn {
    width: 60%;
    padding: 3px 20px;
    font-weight: 600;
    display: block;
    border-radius: 20px;
}

.btn-container .randomize-btn {
    margin-top: 20px;
    margin-bottom: 5px;
}

.cart-title {
    border-bottom: white 1px solid;
    line-height: 1.5;
}


@media screen and (max-width: 1024px) {
    .btn-container .randomize-btn,  .clear-items-btn{
        margin: 10px auto;
    }
}