.orders-container {
    display: flex;
    margin-top: 100px !important;
    flex-wrap: wrap;
}

.cart-items-container {
    flex: 2;
}
.cart-calculation-container {
    flex: 1;
    margin-left: 100px;
}

@media screen and (max-width: 1024px) {
    .orders-container {
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
    }
}


@media screen and (max-width: 576px) {
    table tr {
        display: flex;
        font-size: 10px !important;
        flex-direction: column;
        text-align: center;
    }
    input {
        margin: 0 auto;
    }
    .orders-container {
        flex-direction: column;
    }
    .cart-calculation-container {
        margin-left: 0;
    }
}