.product-containerr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .product-containerr {
        grid-template-columns: repeat(1, 1fr);
    }
    
}