
.product-detail-container {
    padding: 50px 20px 60px;
    margin: 0 auto;
    max-width: 1000px;
    /* px-4 pt-20 pb-24 mx-auto max-w-7xl md:px-2  */
}
.product-detail {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.button-container button {
    margin-top: 20px;
    width: 150px;
    border: 0;
}

.product-detail-container img {
   width: 400px !important;
}

  /* .............................................
          FOR MOBILE AND SMALLER DEVICE
.............................................. */
@media (max-width: 768px) {
    .product-detail {
        grid-template-columns: 1fr;
        justify-items: space-around;
    }
    .detail-container {
        order: 2;
    }
    .product-detail-container img {
        width: 100% !important;
     }
  }
  