.card {
    width: 90%;
    font-family: Comic Sans MS,Comic Sans;
    cursor: pointer;
    margin:  0 auto;
}

.card .product-img-container {
    width: 100%;
    overflow: hidden;
}

.card img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-in;
}

.add-to-cart {
    width: 100%;
    background-color: var(--primary-color);
    color: aliceblue;
    font-weight: 400;
    border: 0;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

.add-to-cart:hover {
    background-color: whitesmoke;
    color: var(--primary-color);
    transition: .2s linear;
}

.icon {
    margin-left: 10px;
}
.star-icon {
    color: var(--primary-color);
}

@media screen and (max-width: 1023px) {
    .card {
        width: 250px;
    }
}

/* @media screen and (max-width: 576px) {
    .card {
        width: 250px;
    }
} */