.card {
    width: 90%;
    font-family: Comic Sans MS,Comic Sans;
    cursor: pointer;
}

.card .product-img-container {
    width: 100%;
    border-bottom: 1px solid #573276;
    overflow: hidden;
}

.card img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-in;
}

.add-to-cart {
    width: 100%;
    background-color: #573276;
    color: aliceblue;
    font-weight: 400;
    border: 0;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

.add-to-cart:hover {
    background-color: whitesmoke;
    color: #573276;
    transition: .2s linear;
}

.icon {
    margin-left: 10px;
}

@media screen and (max-width: 1023px) {
    .card {
        width: 300px;
    }
}

/* @media screen and (max-width: 576px) {
    .card {
        width: 250px;
    }
} */