
button {
    background-color: transparent;
}

small {
    display: block;
}

.cart-item {
    background-color: transparent;
}

.img-container, .item-btn-container  {
    width: 25%;
}

.name-container {
    width: 100%;
}

/* .item-name {
    margin-left: 40px;
} */

tr {
    margin-bottom: -20px !important;
}


.item-btn-container .delete-btn {
    color: #DE4839;
    border: 0;
    font-size: 20px;
}

tr td input {
    font-size: 12px !important;
}

.item-quantity {
    width: 80px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .item-btn-container .delete-btn {
        margin:  0 100px;
    }
}