.cart-item img {
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: aliceblue;
}

small {
    display: block;
}

.cart-item {
    background-color: aliceblue;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.img-container, .item-btn-container  {
    width: 25%;
}

.name-container {
    width: 100%;
}

.item-name {
    margin: 0 5px;
}

.item-btn-container .delete-btn {
    color: #DE4839;
    border: 0;
    font-size: 40px;
}

@media screen and (max-width: 1024px) {
    .cart-item  {
        width: 250px;
        margin: 5px auto 0;
        flex-direction: column;
        text-align: center;
    }
}