nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: #FFFFFF;
}
.navigations {
    display: flex;
}
.navigations a {
    color: #5E2E87;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-right: 18px;
    margin-top: 10px;
}
#toggler {
    display: none;
}
.nav-toggler-icon {
    display: none;
}
.cart-btn {
  margin-top: 12px;
    color: #5E2E87;
}

#bar-icon {
  color: #5E2E87;
}

  @media (max-width: 1023px) {
      nav .navigations a {
        margin-right: 0;
        margin-bottom: 10px;
        color: #fff;
      }
      nav .nav-toggler-icon {
        display: block;
      }
      .navigations {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        padding: 15px 0;
        background-color: #1C2B35;
        transform: translateY(-450px);
        transition: 0.5s ease-in-out;
        opacity: 0;
        z-index: 5;

      }
      #toggler:checked ~ .navigations {
        transform: scale(1) translateY(0);
        transition: 0.5s ease-in-out;
        opacity: 1;
      }
  }